# -------------------------
# Python cache
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Build artifacts
# -------------------------
*.egg-info/
dist/
build/

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# Notebook checkpoints
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Outputs (DO NOT PUSH)
# -------------------------
outputs/
outputs/*

# Synthetic runs
synthetic_runs/
synthetic_runs_multi/
diagnostics/


# Maps and generated visuals
*.png
*.jpg
*.jpeg
*.svg

# -------------------------
# Large geospatial files
# -------------------------
*.tif
*.tiff
*.nc
*.grib
*.grb
*.geojson
*.gpkg
*.shp
*.dbf
*.prj
*.shx
*.cpg
*.qmd

# -------------------------
# Data folder (large datasets)
# -------------------------
data/*.nc
data/*.tif
data/*.grib
data/*.geojson
data/*.gpkg
data/*.shp
data/*.dbf
data/*.prj
data/*.shx
data/*.cpg
data/*.zip
data/*.xlsx
data/*.csv

# Allow small metadata files
!data/README.md

# -------------------------
# Logs
# -------------------------
*.log
*.tmp

